/* Create.css */

.create-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: bisque;
  }
  
  form {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  h1 {
    font-size: 34px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    width: 100%;
    text-align: left;
  }
  

  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea {
    height: 200px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    width: 100px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  