.filter__search{
    display: flex;
    justify-content: space-between;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 0.3rem;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2px;
    background-color: rgb(251, 251, 255);
    height: 2rem;
    width: 5rem;
    color: rgb(14, 0, 0);
}

