.search {
    display: flex;
    border: 1px solid black;
    align-items: center;
    border-radius: 50px;
    padding: 0.2rem .3rem 0.2rem 1rem;
}

.search input {
    height: 2.3rem;
    border: transparent;
    padding-left: .3rem;
    width: 8rem;
}

.search button {
    border-radius: 50px;
    background-color: #F9E795;
}