@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.box-container{
  border: 2px solid black;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  margin: auto;
  margin-top: 150px;
}

h1{
  text-align: center;
}

input{
  margin: auto;
  display: block;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.btnSignUp{
  margin: auto;
  display: block;
  padding: 5px;
  border-radius: 5px;
  background-color: lightblue;
  border: none;
}

.btnSignUp:hover{
  background-color: darkblue;
}

.header-text{
  margin-top: 20px;
  margin-bottom: 20px;
}