@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=PT+Serif&display=swap');
@import url('./css/create.css');
@import url('./css/SignUp.css');

body {
  
    font-family: 'PT Serif', serif;
}
.navigation {
    display: flex;
    width: 100%;
}
.navigation__logo {
    flex-basis : 50%;
    max-width: 50%;
    font-size: 2.25rem;
    margin-block: 1rem;

}
.navigation__text {
    text-decoration: none;
    color : #CA5E10;
    font-size: 1.75rem;
    margin-block: 1rem;
}
.navigation__list {
    flex-basis : 50%;
    max-width: 50%;
    display: flex;
    column-gap: 5rem;
    list-style: none;
}
.mypost {
    /* background: #f8f7f7; */
    
    /* padding-left:15px; */
    padding-right:15px;
}
.mypost__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-inline: 0px;
    /* background: red; */
}
.mypost__wrapper { 
    position: relative;
    /* margin-inline: 15px; */
    /* padding-inline: -15px; */
    
}
.mypost__list {
    display: flex;
    flex-direction: column;
    row-gap: 55px;
    flex : 0 0 97%;
    max-width: 100%;   
    list-style: none;
}
.mypost__item {
    background: #fff;
   padding: 15px;
}
.mypost__item h3 {
    text-align: center;
    font-size: 6rem;
    margin-block: 1.2rem;
    font-weight: 900;
    line-height: 1.2;
    color: #414141;
    font-family: 'Cinzel', serif;
}
.mypost__item  > p {
    position: relative;
    background: #fff;   
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    color:  #7D7D7D;
    padding: 1rem; 
    margin-inline: 16rem;   
    text-align: justify;
}
@media(max-width : 50rem)
{
    .mypost__item  > p {
        margin-inline: 1rem;
    }
    
}

.mypost__metadata {
    margin-inline: 16rem;  
    border-top :1px solid #0E2E50 ;
    background: #d2cccc8e; ;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin-block-start: 35px;
    position: relative;
}
.mypost__metadata__details,.mypost__metadata__icons {
    flex-basis: 50%;
    max-width: 50%;
   
}
.mypost__metadata__details {
      
    font-size: .8rem;
    font-weight: 100;
    line-height: 1.5;
    color: #0E2E50;    
   
}
.mypost__metadata__icons {
    position: absolute; 
    font-size: 2rem;
    right: 10px;
    top: 29px;
    margin-inline: 1.5rem;
    color: #0E2E50;   
}
